.list-repo-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  border-radius: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f8f8ff;
  min-height: 200px;
  width: 20%;
  margin-right: 20px;
  margin-bottom: 20px;
}

.image {
  width: 100px;
  height: 100px;
  align-self: center;
  margin-bottom: 10px;
}

.card-heading {
  font-size: 20px;
  font-weight: 600;
  align-self: center;
  color: #e73959;
  margin-bottom: 10px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  align-self: flex-start;
  margin-left: 20px;
}

.icon-img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.icon-para {
  color: #1e293b;
  font-size: 13px;
}
